<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Metro Ticket Booking</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    input[type=text][type=password]{
    border-radius:8px;
    width:600px;
    height:16px;
    }
        h3{margin:0px;padding-top:7px;padding-buttom:7px;color:white;}
    </style>

</head>
<body style="background-color:Green;margin-left:50px;margin-right:50px;margin-bottom:20px">

    <h3 style="color:Black;background-color: Green;border-radius:10px;"><strong><font size="16">Metro-rail Ticket management System </font>
    </strong></h3>

</body>
{% block body %}
{% endblock %}



</html>
